

body {
    background: radial-gradient(circle at top, #1c1c1c, #000000);
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header, nav {
    background: #0a0a0a;
    padding: 25px;
    border-bottom: 4px solid #3a6cf4;
    /*text-align: center;*/
    letter-spacing: 2px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}


nav a {
    text-decoration: none;
    color: #3a6cf4;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

nav a:hover {
    border-bottom: 2px solid #ffffff;
}

/* PAGE */
.container {
    background: #111111;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 0 30px #3a6cf455;
}

/* BUTTON */
#themeCycle {
    background: #3a6cf4;
    color: black;
    border: none;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}

#themeCycle:hover {
    background: white;
    color: black;
}

/* PROFILE IMAGE */
img.profile {
    width: 200px;
    border-radius: 8px;
    border: 3px solid #3a6cf4;
    box-shadow: 0 0 25px #3a6cf466;
}

.penguin {
  position: fixed;
  width: 24px;
  height: 24px;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
  animation: fall 1.5s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(720deg);
    opacity: 0;
  }
}

.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.about-container img {
  width: 200px;
  border-radius: 10px;
}

.quote {
  background-color: #707070;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
