/* ======================
   MEDIEVAL THEME
   ====================== */

body {
    background: url('../images/knights.jpeg');
    background-size: cover;
    background-attachment: fixed;
    color: #f6f8f7;
    font-family: "Garamond", serif;
    font-size: 24px;
    margin: 10;
    padding: 10;
}

/* HEADER */
header, nav {
    background: #8c5b2b;
    padding: 25px;
    border-bottom: 6px solid #4d2b12;
    font-family: "Cinzel", serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}


nav a {
    text-decoration: none;
    color: #fff0d4;
    padding: 8px 12px;
    margin: 0 5px;
    font-weight: bold;
    border: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #fff0d4;
}

/* PAGE */
.container {
    background: rgba(255, 248, 225, 0.9);
    padding: 40px;
    border-radius: 5px;
    max-width: 900px;
    margin: 40px auto;
    border: 3px solid #4d2b12;
    box-shadow: 0 0 20px #4d2b12aa;
}

/* BUTTON */
#themeCycle {
    background: #5c3718;
    color: #fff0d4;
    border: 2px solid #3b1f0f;
    padding: 10px 20px;
    font-family: "Cinzel", serif;
    cursor: pointer;
    transition: 0.3s;
}

#themeCycle:hover {
    background: #fff0d4;
    color: #3b1f0f;
}

/* PROFILE IMAGE */
img.profile {
    width: 200px;
    height: auto;
    border-radius: 4px;
    border: 4px solid #4d2b12;
    box-shadow: 0 0 20px #3b1f0faa;
}

.penguin {
  position: fixed;
  width: 24px;
  height: 24px;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
  animation: fall 1.5s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(720deg);
    opacity: 0;
  }
}

.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.about-container img {
  width: 200px;
  border-radius: 10px;
}

.quote {
  background-color: #8c5e3d;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}