/* ======================
   NASA / MOON THEME
   ====================== */

body {
    background: radial-gradient(circle at top, #1c1c1c, #000000);
    color: #d0d0d0;
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header, nav {
    background: #0a0a0a;
    padding: 25px;
    border-bottom: 4px solid #3a6cf4;
    /*text-align: center;*/
    letter-spacing: 2px;
}

nav a {
    text-decoration: none;
    color: #3a6cf4;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

nav a:hover {
    border-bottom: 2px solid #ffffff;
}

/* PAGE */
.container {
    background: #111111;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 0 30px #3a6cf455;
}

/* BUTTON */
#themeCycle {
    background: #3a6cf4;
    color: black;
    border: none;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}

#themeCycle:hover {
    background: white;
    color: black;
}

/* PROFILE IMAGE */
img.profile {
    width: 200px;
    border-radius: 8px;
    border: 3px solid #3a6cf4;
    box-shadow: 0 0 25px #3a6cf466;
}
