/* ======================
   PENGUIN THEME
   ====================== */

body {
    background: linear-gradient(#dff6ff, #bdefff);
    font-family: "Trebuchet MS", sans-serif;
    color: #003049;
    margin: 0;
    padding: 0;
}

/* HEADER */
header, nav, ul , li{
    display: inline;
    background: #004d80;
    padding: 30px 20px;
    text-align: center;
    list-style: none;
    border-bottom: 8px solid #9ae0ff;
    
}

nav a {
    list-style: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 14px;
    margin: 0 6px;
    border-radius: 20px;
    background: #0077b6;
    transition: 0.3s;
}

nav a:hover {
    list-style: none;
    background: white;
    color: #003049;
}

/* PAGE CONTAINER */
.container {
    background: #ffffffdd;
    padding: 40px;
    border-radius: 20px;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 0 20px #7cd3ff;
}

/* BUTTON */
#themeCycle {
    background: #72d0ff;
    color: #003049;
    border: none;
    padding: 12px 22px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#themeCycle:hover {
    background: white;
    color: #0077b6;
}

/* PROFILE IMAGE */
img.profile {
    width: 220px;
    height: auto;
    border-radius: 50%;
    border: 6px solid #9ae0ff;
    box-shadow: 0 0 20px #7cd3ff;
}
