/* ======================
   MEDIEVAL THEME
   ====================== */

body {
    background: url("https://i.imgur.com/gm0S9m1.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: #3b1f0f;
    font-family: "Garamond", serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header, nav {
    background: #8c5b2b;
    padding: 25px;
    /*text-align: center;*/
    border-bottom: 6px solid #4d2b12;
    font-family: "Cinzel", serif;
}

nav a {
    text-decoration: none;
    color: #fff0d4;
    padding: 8px 12px;
    margin: 0 5px;
    font-weight: bold;
    border: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #fff0d4;
}

/* PAGE */
.container {
    background: rgba(255, 248, 225, 0.9);
    padding: 40px;
    border-radius: 5px;
    max-width: 900px;
    margin: 40px auto;
    border: 3px solid #4d2b12;
    box-shadow: 0 0 20px #4d2b12aa;
}

/* BUTTON */
#themeCycle {
    background: #5c3718;
    color: #fff0d4;
    border: 2px solid #3b1f0f;
    padding: 10px 20px;
    font-family: "Cinzel", serif;
    cursor: pointer;
    transition: 0.3s;
}

#themeCycle:hover {
    background: #fff0d4;
    color: #3b1f0f;
}

/* PROFILE IMAGE */
img.profile {
    width: 200px;
    height: auto;
    border-radius: 4px;
    border: 4px solid #4d2b12;
    box-shadow: 0 0 20px #3b1f0faa;
}
